better_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/better-sqlite3
sharp_binary_host_mirror=https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host_mirror=https://registry.npmmirror.com/-/binary/sharp-libvips
